body{
margin:0;
font-family:Arial, sans-serif;
background:#ffd6e7;
text-align:center;
}

.pagina{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

.oculto{
display:none;
}

button{
padding:15px 30px;
font-size:20px;
margin-top:20px;
border:none;
border-radius:15px;
background:#ff4d88;
color:white;
}

.foto{
width:250px;
margin:10px;
border-radius:20px;
}

.grande{
font-size:60px;
color:#ff0066;
}

.mensaje{
font-size:28px;
font-family:cursive;
max-width:900px;
line-height:1.7;
color:#6b0040;
}